version: '3.9'

services:
  db:
    image: postgres:15
    container_name: todo-db
    environment:
      POSTGRES_DB: todo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: todo-api
    depends_on:
      - db
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env.docker

  frontend:
    build: ./ui
    env_file:
      - ./ui/.env.docker
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data:
